# Ignore folders
.storage/
.cloud/
.google.token/
tts/
.vscode

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

.HA_VERSION
*.log
*.db
home-assistant_v2.db*
